:root {
    --vinbar: #6B033E;
    --ljung: #A7286F;
    --sol: #FEC923;
    --bris: #97C0C9;
    --fjord: #084654;

}

* {
    box-sizing: border-box;
    border: 1px red dashed;
    font-family: figtree;
}

header {
    display: flex;
    background-color: var(--vinbar);

}

.start {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
}

.about {
    color: white;
    font-size: large;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 2rem;
    
}

.grid-item {
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px gray; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: none;
}

.logo {
    width: 10rem;
    height: 10rem;
    object-fit: scale-down;
}

p, a {
    font-size: larger;
}